# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env.*
.env*.local

# TypeScript
*.tsbuildinfo

# Firebase + Google services
firebase.js
firebase.json
firebase.rc
storage.rules
google-services.json
ios/GoogleService-Info.plist
android/app/google-services.json

# IDE / OS
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Optional: Local scripts
scripts/
